<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styled.css">
    <title>Vitreo | Anuncios</title>
    <link rel="icon" href="/assets/img/logoWeb.png" type="image/x-icon" >
</head>
<body class="fundo">
    <div class="esquerda">
        <img src="/assets/img/logo.png" class="logo">

        <button name="home" class="menu"  onclick="navegar(name)">
            <img src="/assets/img/Icons/home.svg">
            <p>Inicio</p>
        </button>
        <button name="conta" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/perfil.svg">
            <p>Conta</p>
        </button>
        <button name="config" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/config.svg">
            <p>Ajustes</p>
        </button>
        <button name="add" class="menu ativo" onclick="navegar(name)">
            <img src="/assets/img/Icons/adoff.svg">
            <p>Anuncios</p>
        </button>
        <button class="menu" ">
            <img src="/assets/img/Icons/sair.svg">
            <p>Sair</p>
        </button>

    </div>

    <div class="centro">
        <div class="add">
            <img src="/assets/img/logoWeb.png" alt="">
            <p id="destaque">Navegue sem anuncio</p>
            <p>Sabemos que anúncios podem não ser a parte mais divertida da experiência, no entanto, eles são essenciais para manter nossos serviços gratuitos. Mas aqui, oferecemos a opção de eliminar todos os anúncios, proporcionando uma experiência de navegação aprimorada.</p>

            <div>
                <button>
                    <label> R$ 9.90/mês</label>
                </button>

                <button>
                    <label >R$ 72,90/ano</label>
                </button>
            </div>
        </div>

       
    </div>

    <div class="direita">
        <button class="busca">
            <img src="/assets/img/Icons/buscar.svg" alt="">
            <p>Buscar</p>
        </button>
        <p class="texto">Talve seja do seu interesse</p>

        <div>
            <div class="recomendacoes">
                <div>
                    <p>@1</p>
                </div>
                <p>Darth Vader</p>

                <img src="/assets/img/Icons/x.svg" alt="">
            </div>
            <div class="recomendacoes">
                <div>
                    <p>z7</p>
                </div>
                <p>Bilbo B.</p>

                <img src="/assets/img/Icons/x.svg" alt="">
            </div>
            <div class="recomendacoes">
                <div>
                    <p>*p</p>
                </div>
                <p>Frodo B.</p>

                <img src="/assets/img/Icons/x.svg" alt="">
            </div>
            <div class="recomendacoes">
                <div>
                    <p>9_</p>
                </div>
                <p>Sasuke Uchiha</p>

                <img src="/assets/img/Icons/x.svg" alt="">
            </div>
        </div>

    </div>
    <script src="/assets/js/main.js"></script>
</body>
</html>