<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styled.css">
    <title>Vitreo | Fórum</title>
    <link rel="icon" href="/assets/img/logoWeb.png" type="image/x-icon" >
</head>
<body class="fundo">
    <div class="esquerda">
        <img src="/assets/img/logo.png" class="logo">

        <button name="homePage" class="menu ativo"  onclick="navegar(name)">
            <img src="/assets/img/Icons/home.svg">
            <p>Inicio</p>
        </button>
        <button name="conta" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/perfil.svg">
            <p>Conta</p>
        </button>
        <button name="config" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/config.svg">
            <p>Ajustes</p>
        </button>
        <button name="add" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/adoff.svg">
            <p>Anuncios</p>
        </button>
        <button class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/sair.svg">
            <p>Sair</p>
        </button>

    </div>

    <div class="ff">
        <div class="nav">
            <button name="homePage" onclick="navegar(name)" >
                <p >Feed</p>
            </button>
            <button  >
                <p id="foco" >Fórum</p>
            </button>
        </div>

        <div class="post">
            <div class="post_user">
                <div class="user">
                    <button >
                        <p>nm</p>
                    </button>
                    <p>Thor</p>
                </div>
                <img src="/assets/img/Icons/star.svg" alt="">
            </div>
            <div class="post_cont">
                <p>Todo cariroca quer passa a pena em alguém </p>
            </div>
            <div class="post_int">
                <img src="/assets/img/Icons/positivo.svg" alt="">
                <img src="/assets/img/Icons/negativo.svg" alt="">
                <button onclick="argumento()" id="bbtt">
                    <img src="/assets/img/Icons/arguments.svg" >
                </button>
                
            </div>
        </div>  
    </div>

    <div class="direita" id="direitaf">
        <button class="busca">
            <img src="/assets/img/Icons/buscar.svg" alt="">
            <p>Buscar</p>
        </button>
        <p class="texto" id="foco">Regras do fórum</p>

        <p  class="texto">Bem-vindo ao fórum!  </p>
        
        <p  class="texto">Aqui, você tem a oportunidade de avaliar as postagens de nossos usuários que foram denunciadas por violações, portanto, pedimos que atue com justiça e imparcialidade. </p>
            
        <p  class="texto">Denúncias envolvendo temas sensíveis, como racismo e homofobia, são tratadas com extrema seriedade. Os usuários responsáveis por tais postagens serão permanentemente banidos e impedidos de criar novas contas, pois não toleramos comportamentos desse tipo.</p>
             
        <p  class="texto">As denúncias serão organizadas daquelas com mais interações para as menos, a fim de priorizar os casos de maior impacto.</p>
            
        <p  class="texto">Bons argumentos têm um grande peso, então, se você possui um ponto de vista inovador, não hesite, estamos interessados</p>
            
    </div>

    <div class="postagens desativado">
        <textarea rows="3" cols="50"  maxlength="150" placeholder="Escreva aqui..."></textarea>
        <button onclick="argumentar()">
            <p>Argumento</p>
        </button>
    </div>
    
    <script src="/assets/js/main.js"></script>
</body>
</html>