


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Vitreo</title>
</head>
<body class="base">
    <form action="/login" method="post" id="login" class="caixa" >
       
            <img src="/assets/img/logo.png" class="logo">
            <input type="text" id="username" name="email" placeholder="E-mail" required>
            
            <input type="password" id="password" name="senha" placeholder="Senha" required>
            
            <input type="submit" value="Entrar" id="btt" >
            <a href="./cadastro.html">Esqueceu a sua senha?</a>
    </form>

    <div class="caixa">

           <input type="button" value="Entrar com o Google">
           <input type="button" value="Entrar com a Apple">
            
            <a href="/cadastro" >Criar uma conta!</a>
    </div>

    <script src="../root/assets/js/teste.js"></script>   
</body>
</html>