<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styled.css">
    <title>Vitreo | Perfis</title>
    <link rel="icon" href="/assets/img/logoWeb.png" type="image/x-icon" >
</head>
<body class="fundo">
    <div class="esquerda">
        <img src="/assets/img/logo.png" class="logo">

        <button name="home" class="menu"  onclick="navegar(name)">
            <img src="/assets/img/Icons/home.svg">
            <p>Inicio</p>
        </button>
        <button name="conta" class="menu ativo" onclick="navegar(name)">
            <img src="/assets/img/Icons/perfil.svg">
            <p>Conta</p>
        </button>
        <button name="config" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/config.svg">
            <p>Ajustes</p>
        </button>
        <button name="add" class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/adoff.svg">
            <p>Anuncios</p>
        </button>
        <button class="menu" onclick="navegar(name)">
            <img src="/assets/img/Icons/sair.svg">
            <p>Sair</p>
        </button>

    </div>

    <div class="central">
        <div class="nav">
            <button id="foco">
                <p>Conta:  {{id}}</p>
            </button>
           <!-- <button onclick="addFav('{{id}}')"> -->
            <button">
                <img src="/assets/img/Icons/star.svg" alt="" width="64px">
            </button>
            
        </div>
        
        {{#posts}}
        <div class="post">
            <div class="post_user">
                <div class="user">
                    <div >
                        <p>{{id_user}}</p>
                    </div>
                </div>
            </div>
            <div class="post_cont">
                <p>{{conteudo}}</p>
            </div>
        </div>
        {{/posts}}
    </div>

    <div class="direita">
        <button class="busca">
            <img src="/assets/img/Icons/buscar.svg" alt="">
            <p>Buscar</p>
        </button>
        <p class="texto">Talve seja do seu interesse</p>

        <div>
            {{#users}}
            <button class="recomendacoes" onclick="perfil('{{id}}')">
                <div>
                    <p>{{id}}</p>
                </div>
                <!-- 
                    <button  onclick="remover()">
                    <img src="/assets/img/Icons/x.svg" alt="">
                    </button> 
                -->
            {{/users}}
    
          
        </div>

    </div>

    <button class="btt_post" onclick="novoPost()">
        <img src="/assets/img//Icons/adicionar.svg" alt="">
    </button>

    <div class="postagens desativado">
        <textarea rows="3" cols="50"  maxlength="150" placeholder="Escreva aqui..."></textarea>
        <button onclick="postar()">
            <p>Postar</p>
        </button>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>