 @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


.base {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.caixa {
    width: 30vw;
    
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px 0 10px 0;
    
}

.logo{
    align-items: center;
    width: 20vw;
}

.caixa input {
    width: 30vw;
    height: 5vh;
    font-family: 'Cutive Mono', monospace;
    font-size: 32px;
    border-width: 0px;
    border-radius: 20px 0 20px  0;
    padding-left: 15px;
    margin: 10px;
    background-color: #DFDFDF;
    
}


#btt {
    background-color: #263326;
}

.caixa a {
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 24px;
}
.caixa p {
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 24px;
    align-self: self-start;
    margin: 10px 0 10px 0;
}
 
#parg {
    text-align: center;
}




