@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


.fundo {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.esquerda {
    height: 100vh; 
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    width: 20vw;
    border-style: solid;
    border-width: 0 1px 0 0; 
    border-color: #DFDFDF;  
    padding: 5vh 1vw 0 5vw;
    
    
}

.logo {
    width: 20vw;
}

.menu{
    display: flex;
    flex-direction: row; 
    padding-left: 2vw;
    margin: 3vh 0 0 0;
    background-color: black;
    border-style: none;
}

.menu.ativo {
    display: flex;
    flex-direction: row; 
    padding-left: 2vw;
    margin: 3vh 0 0 0;
    background-color: black;
    border-style: none;
    font-weight: bold;
}

.menu img {
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 1vw;
      
}

.menu p {
   
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 1.5vw;
    width: auto;
}

.menu p:focus{
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 36px;
    width: auto;
    
}

.central {
    margin: 0 25vw 0 25vw;
    flex: 1;
    height: auto;
    padding-top: 5vh;
    
}

.nav {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav button {
    background-color: black;
    border-style: none;
}

.nav p {
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    width: auto;
}

#foco {
    font-weight: bold;
}

.post {
    padding: 3vw;
}

.post_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_user img {
    width: 3vw;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.user div {
    width: 3.5vw;
    height: 3.5vw;
    background-color: black;
    margin: 0 2vw 0 0 ;
    border: 2px;
    border-color: #DFDFDF;
    border-style: solid;
    border-radius: 16px 0 16px 0;
}

.user button{
    width: 3.5vw;
    height: 3.5vw;
    background-color: black;
    margin: 0 2vw 0 0 ;
    border: none;
}


.user p {
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
      
    line-height: 3.5vw;
    text-align: center;
}

.post_cont {
    background-color: #8C8C8C;
    padding: 2vw;
    margin: 3vh 0;
    border-radius: 32px 0 32px 0;
}

.post_cont p {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
      
}

.post_int{
    display: flex;
    justify-content: space-evenly;
}

.post_int img {
    width: 2vw;
}

.direita {
    height: 100vh; 
    position: fixed; 
    top: 0;
    bottom: 0;
    right: 0;
    width: 20vw;
    border-width: 0 0 0 1px;
    border-color: #DFDFDF;
    border-style: solid;
    padding: 5vh 5vw 1vw 1vw;

}

#direitaf{
    height: auto;
    overflow: scroll;
}

.busca {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15vw;
    height: 3vw;
    background-color: #263326;
    border-style: solid;
     border-radius: 24px 0 24px 0;;
}

.busca img {
    width: 1.5vw;
    margin: 0 0.5vw;
}

.busca p{
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 1.5vw;
}

.texto {
    width: 15vw;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 1.2vw;
    margin: 2vh 0 2vh 0;
}

.recomendacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: none;
    width: 15vw;
    margin: 3vh 0;
   
}

.recomendacoes.desativado {
    display: none;
}



.recomendacoes div {
    width: 2.5vw;
    height: 2.5vw;
    background-color: black;
    border: 2px;
    border-color: #DFDFDF;
    border-style: solid;
    border-radius: 16px 0 16px 0;
}

.recomendacoes p {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 1.2vw;
    line-height: 2.5vw;
}

.recomendacoes button  {
   background-color: black;
}
.recomendacoes button img {
    width: 1.5vw;
}

/* config*/

.central_user {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2vh 0;
    
}

.central_user p {
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 3vh 0 0 2vw;
}

.central_user input {
    width: 44vw;
    height: 5vh;
    font-family: 'Cutive Mono', monospace;
    font-size: 32px;
    border-width: 0px;
    border-radius: 20px 0 20px  0;
    padding-left: 15px;
    background-color: #DFDFDF;
    margin: 2vh 0;
    align-self: center;
}


.central_seg {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2vh 0;
}

.central_seg p {
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 3vh 0 0 2vw;
}

#destaque {
    font-size: 36px ;
    font-weight: bold;
}

.central_idioma {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2vh 0;
}

.central_idioma p {
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 3vh 0 0 2vw;
}

.central_idioma select {
    width: 44vw;
    height: 5vh;
    font-family: 'Cutive Mono', monospace;
    font-size: 28px;
    border-width: 0px;
    border-radius: 20px 0 20px  0;
    padding-left: 15px;
    background-color: #DFDFDF;
    margin: 2vh 0;
    align-self: center;
}

.central_notif {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2vh 0;
}

.central_notif p {
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 2vh 0 0 2vw;
}

#radius {
    margin-left: 5vw;
}

.central_ass {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2vh 0;
}

.central_ass p{
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 2vh 0 0 2vw;
}

.central_ass input {
    width: 44vw;
    height: 5vh;
    font-family: 'Cutive Mono', monospace;
    font-size: 28px;
    border-width: 0px;
    border-radius: 20px 0 20px  0;
    padding-left: 15px;
    background-color: #DFDFDF;
    margin: 2vh 0;
    align-self: center;
}

.central_ass button {
    align-self: center;
    width: 15vw;
    height: 3vw;
    background-color: #263326;
    border-style: solid;
    border-radius: 24px 0 24px 0;
    margin: 3vh 0;
}
 
.central_ass label {
    width: 15vw;
    line-height: 3vh;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
}

.cetral_ex {
    display: flex;
    flex-direction: column;
    width: 50vw; 
    margin: 2vh 0;
}
.cetral_ex p {
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 2vh 0 0 2vw;
}
.cetral_ex button{
    align-self: center;
    width: 15vw;
    height: 3vw;
    background-color: #805953;
    border-style: solid;
    border-radius: 24px 0 24px 0;;
    margin: 3vh 0;
}
.cetral_ex label{
    width: 15vw;
    line-height: 3vh;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
}
.cetral_Salvar {
    display: flex;
    flex-direction: column;
    width: 50vw; 
    margin: 2vh 0;
}
.cetral_Salvar p {
    width: auto;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    margin: 2vh 0 0 2vw;
}
.cetral_Salvar button{
    align-self: center;
    width: 15vw;
    height: 3vw;
    background-color: #263326;
    border-style: solid;
    border-radius: 24px 0 24px 0;;
    margin: 3vh 0;
}
.cetral_Salvar h3 {
    width: 15vw;
    font-weight: 500;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
}


/*Anuncio*/

.centro {
    width: 50vw;
    height: auto;
    margin: 0 25vw 0 25vw;
}

.add{
    width: 50vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.add img {
    width: 10vw;
}

.add p {
    width: 44vw;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
    text-align: center;
    margin: 2vh 0;
}

.add div {
    width: 44vw;
    display: flex;
    justify-content: space-around;
}

.add button {
    align-self: center;
    width: 15vw;
    height: 3vw;
    background-color: #263326;
    border-style: solid;
    border-radius: 24px 0 24px 0;;
    margin: 12vh 0;
}

.add label {
    width: 15vw;
    line-height: 3vh;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 32px;
}

/* Forum e favoritos*/

.ff {
    padding-top: 5vh;
    width: 50vw;
    height: 95vh;
    margin: 0 25vw 0 25vw;
}

.fa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding-top: 4vh;

}

.favo{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 35vw;
    padding: 1vh 1vw;
    margin: 1.5vh 0 1.5vh 3vw;
    border-style: solid;
    border-color: #8C8C8C;
    border-width: 0 0 1px 0;   
    border-radius: 0 0 36px 0;
    
   
}

.favorito  {
    width: 2.5vw;
    height: 2.5vw;
    background-color: black;
    border: 2px;
    border-color: #DFDFDF;
    border-style: solid;
    border-radius: 16px 0 16px 0;
}

.favo p {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 24px;
    line-height: 2.5vw;
}

#largura {
    width: 20vw;
}

 

.favo img {
    width: 1.5vw;
}

.btt_post {
    display:flex;
    align-items: center;
    height: 4vw;
    width: 4vw;
    position: fixed;
    bottom: 2vw;
    left: 66vw;
    background-color: #263326;
    border-style: solid;
    border-radius:  1.5vw 0 1.5vw 0;
    border-color: #DFDFDF;
}

.btt_post.desativado{
    display: none;
}

.btt_post img {
    width: 4vw;
}

.postagens {
    position: fixed;
    bottom: 2vw;
    left: 28.5vw;

    width: 40vw;
    height: 8vw;
    padding: 2vh 1vw;
    background-color: black;
    border-style: solid;
    border-radius:  1.5vw 0 1.5vw 0;
    border-width: 0.2vw 0 0 0;
    border-color: #8C8C8C;

    display: flex;
    flex-direction: column;
}

.postagens.desativado {
    display: none;
}

.postagens textarea{
    
    background-color: black;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 24px;
    line-height: 1.5vw;
    border-style: none;
    text-align: center;
    
}

.postagens button {
    width: 10vw;
    height: 2vw;
    background-color: #263326;
    border-style: solid;
    border-radius:  0.8vw 0 0.8vw 0;
    align-self: center;
    margin-top: 2vh;
}

.postagens p {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color:#DFDFDF ;
    font-size: 24px;
    line-height: 2vw;
    border-style: solid;
    border-radius:  1.5vw 0 1.5vw 0;

}

#bbtt{
    background-color: black;
    border-style: none;
}
